     <!-- Icon Cards-->
      
      <!-- Area Chart Example-->
      {{#if message}}

<div id="snackbarHome">{{message}}</div>
{{/if}}

      <div class="row">
        <div class="col-lg-8">
        
          {{>admin/blog-thumb}}
          {{>admin/blog-thumb}}
          <!-- /Card Columns-->
        </div>
        
        <div class="col-lg-4">
          <!-- Example Pie Chart Card-->
          
          {{>admin/notification}}
          </div>