<div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                            <div class="portfolio text-center">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail image-8"></div>
                                    <div class="bg-blr-image image-8"></div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>{{project.category}}</p>
                                        <h4><a href="portfolio-details.html">{{project.title}}</a>
                                        </h4>
                                        <div class="portfolio-button">
                                            <a class="rn-btn" href="portfolio-details.html">Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Portfolio  -->